.game-card
{
    cursor: pointer;
}

.image-card, .short-image-card
{
    background-position: center;
    background-size: cover;
}

.short-image-card
{
    width: 100%;
    padding-top: 150%;
}

.no-wrap
{
    white-space: nowrap;
}

.text-center
{
    text-align: center;
}

#login-form-container
{
    padding-top: 2em;
}

#login-form-container > div
{
    padding: 2em;
}